<div class="box box-success">
    <div class="box-header">
        <h3 class="box-title">Chat</h3>
        <!--<div class="box-tools pull-right" data-toggle="tooltip" title="Status">
            <div class="btn-group" data-toggle="btn-toggle" >
                <button type="button" class="btn btn-default btn-sm active"><i class="fa fa-square text-green"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i></button>
            </div>
        </div>-->
    </div>
    <div class="box-body chat" id="chat-box">
        <div class="item" ng-if="chatHistory.length === 0">No History Available, start chating with <i><b>{{userName({})}}</b></i></div>
        <!-- chat item -->
        <div class="item" ng-repeat="message in chatHistory">
            <img user-avatar user-id="avatarUserId(message)" class="online"/>
            <p class="message">
                <a href="#" class="name">
                    <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> <clock timestamp="message.created"></clock></small>
                    {{userName(message)}}
                </a>
                {{message.body}}
            </p>
            <!--<div class="attachment">
                <h4>Attachments:</h4>
                <p class="filename">
                    Theme-thumbnail-image.jpg
                </p>
                <div class="pull-right">
                    <button class="btn btn-primary btn-sm btn-flat">Open</button>
                </div>
            </div> /.attachment -->
        </div><!-- /.item -->
        <!-- chat item -->

    </div><!-- /.chat -->
    <div class="box-footer">
        <div class="input-group">
            <input id="chatBox" class="form-control" placeholder="Type message..."/>
            <div class="input-group-btn">
                <button class="btn btn-success" id="chatBoxBtn" ><i class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>
</div><!-- /.box (chat box) -->
