        <div class="row" ng-init="chatRoom()">
            <section class="content-header">
                <h1><i class="fa fa-comments-o"></i>
                    Chat Room
                </h1>
            </section>
        </div>
        <div class="row">
            <section class="col-xs-5 col-sm-5 col-md-5 col-lg-5 content-left">
                <div class="row">
                    <section class="col-lg-12 connectedSortable">
                        <div class="row">
                            <section class="col-lg-12 connectedSortable">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Contacts</h3>
                                    </div>
                                    <div class="box-body chat" id="chat-list">
                                        <chat-room user="authentication.user" contacts="contacts" on-contact-select="showChat"></chat-room>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
            </section>
            <!-- Main content -->
            <section class=" col-xs-7 col-sm-7 col-md-7 col-lg-7 content">
                <!-- Small boxes (Stat box) -->
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-12 connectedSortable">
                        <chat-box chat-user="contactedUser" ng-if=contactedUser auth-user="authentication.user"></chat-box>

                        <!-- quick email widget -->
                    </section><!-- /.Left col -->
                </div><!-- /.row (main row) -->

            </section><!-- /.content -->
        </div>



