<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li class="active treeview">
        <a href="#/home">
            <i class="fa fa-comments-o"></i> <span>Chat Room</span><span class="label label-primary pull-right">4</span>
        </a>

    </li>
    <li class="treeview">
        <a href="#/view2">
            <i class="fa fa-files-o"></i>
            <span>History</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-th"></i> <span>Active Users</span> <small class="label pull-right bg-green">12</small>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Agents</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Settings</span>
        </a>
    </li>

</ul>
